

html {
    /* font-size: 12px; */
    --color-opt: #424242!important;
}

p {
    color: var(--color-opt)!important;
    font-size: 14px;
    letter-spacing: 0.7px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: underline;
}

.btn-atomic-tangerine:focus {
    background: #c27956!important;
    color: #FFFFFF!important;
}

.ltc-white:hover,
.ltc-white:focus {
    color: #f3976c !important;
}

h3 {
    font-size: 18px;
}

blockquote {
    margin: 0;
    padding: 10px 60px 0;
    border: unset;
    line-height: 1.2;
    font-size: 20px;
    font-style: italic;
}

#quote_src {
    font-size: 20px;
    color: #575757 !important;
    letter-spacing: 0;
}

.btn-atomic-tangerine, .social, p, a, .d-bloc a .icon-md {
    color: var(--color-opt)!important;
}

.d-bloc a .icon-md:hover, .fa-chevron-up {
    color: white !important;
}

.color-opt {
    color: var(--color-opt)!important;
}

.tc-white {
    /* color: unset!important; */
}

.social {
    color: #424242;
}

#form_notice {
    font-style: italic;
    text-align: right;
}

.bg-banniere {
    background-image: url("img/agence-la-panthere_ss.avif");
}

@media screen and (min-width:768px) {
    .bg-banniere {
        background-image: url("img/agence-la-panthere.avif");
    }
}

.bg-presentation {
    background-image: url("img/image-de-presentation_ss.avif");
}

@media screen and (min-width:768px) {
    .bg-presentation {
        background-image: url("img/image-de-presentation.avif");
    }
}
